# Content Based Filtering with Anime Dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df_anime= pd.read_csv('anime.csv')
df_anime

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...,...
12289,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
12290,5543,Under World,Hentai,OVA,1,4.28,183
12291,5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
12292,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
12293,26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [3]:
df_anime=df_anime.loc[:,['anime_id','name','rating','genre']]

In [4]:
df_anime.isna().sum()

anime_id      0
name          0
rating      230
genre        62
dtype: int64

In [5]:
df_anime=df_anime.dropna()

In [6]:
df_anime.shape

(12017, 4)

In [7]:
df_anime=df_anime.reset_index(drop=True)

In [8]:
cvr=CountVectorizer(tokenizer=lambda x:x.split(', '))
df_genre=cvr.fit_transform(df_anime['genre'])
df_genre=pd.DataFrame(df_genre.toarray(),columns=cvr.get_feature_names())
df_genre=pd.concat([df_anime[['anime_id','name','rating']],df_genre],axis=1)
df_genre #item feature matrix

,anime_id,name,rating,action,adventure,cars,comedy,dementia,demons,drama,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
0,32281,Kimi no Na wa.,9.37,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,5114,Fullmetal Alchemist: Brotherhood,9.26,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,28977,Gintama°,9.25,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9253,Steins;Gate,9.17,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,9969,Gintama&#039;,9.16,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12012,9316,Toushindai My Lover: Minami tai Mecha-Minami,4.15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12013,5543,Under World,4.28,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12014,5621,Violence Gekiga David no Hoshi,4.88,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12015,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,4.98,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12016,26081,Yasuji no Pornorama: Yacchimae!!,5.46,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
df_liked=df_genre[df_genre['name'].isin(['Naruto','One Piece', 'Dragon Ball'])]
df_liked

,anime_id,name,rating,action,adventure,cars,comedy,dementia,demons,drama,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
74,21,One Piece,8.58,1,1,0,1,0,0,1,...,0,0,0,0,1,0,0,0,0,0
346,223,Dragon Ball,8.16,0,1,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
841,20,Naruto,7.81,1,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [10]:
for i in cvr.get_feature_names():
    df_liked[i]= df_liked['rating']*df_liked[i]

df_liked

<ipython-input-10-f37b058244ba>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_liked[i]= df_liked['rating']*df_liked[i]

,anime_id,name,rating,action,adventure,cars,comedy,dementia,demons,drama,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
74,21,One Piece,8.58,8.58,8.58,0.0,8.58,0.0,0.0,8.58,...,0.0,0.0,0.0,0.0,8.58,0.0,0.0,0.0,0.0,0.0
346,223,Dragon Ball,8.16,0.00,8.16,0.0,8.16,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,8.16,0.0,0.0,0.0,0.0,0.0
841,20,Naruto,7.81,7.81,0.00,0.0,7.81,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,7.81,0.0,0.0,0.0,0.0,0.0

In [11]:
user_feature_vector=df_liked[cvr.get_feature_names()].sum()/df_liked[cvr.get_feature_names()].sum().sum()

In [12]:
df_rec=df_genre.loc[~df_genre['name'].isin(['Naruto','One Piece', 'Dragon Ball'])] 
#dataframe tanpa naruto, onepiece dan dragon ball

In [13]:
for i in cvr.get_feature_names():
    df_rec[i]= df_rec[i]*user_feature_vector[i]
    
df_rec

<ipython-input-13-209027ffaaff>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rec[i]= df_rec[i]*user_feature_vector[i]

,anime_id,name,rating,action,adventure,cars,comedy,dementia,demons,drama,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
0,32281,Kimi no Na wa.,9.37,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.057946,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5114,Fullmetal Alchemist: Brotherhood,9.26,0.110691,0.113055,0.0,0.0000,0.0,0.0,0.057946,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28977,Gintama°,9.25,0.110691,0.000000,0.0,0.1658,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9253,Steins;Gate,9.17,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9969,Gintama&#039;,9.16,0.110691,0.000000,0.0,0.1658,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12012,9316,Toushindai My Lover: Minami tai Mecha-Minami,4.15,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12013,5543,Under World,4.28,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12014,5621,Violence Gekiga David no Hoshi,4.88,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12015,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,4.98,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12016,26081,Yasuji no Pornorama: Yacchimae!!,5.46,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df_rec['predicted_score']=df_rec.drop(columns=['rating','anime_id']).sum(axis=1)

<ipython-input-14-cdbb57a01513>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rec['predicted_score']=df_rec.drop(columns=['rating','anime_id']).sum(axis=1)

In [15]:
df_rec[['name','predicted_score']].sort_values('predicted_score', ascending=False).head(10)

                                                   name  predicted_score
5997  Dragon Ball Z Movie 11: Super Senshi Gekiha!! ...         0.942054
1409              Dragon Ball Z Movie 15: Fukkatsu no F         0.942054
1931                    Dragon Ball: Episode of Bardock         0.942054
1930                                  Dragon Ball Super         0.942054
3407  Dragon Ball Z: Zenbu Misemasu Toshi Wasure Dra...         0.942054
3202             Dragon Ball Z: Summer Vacation Special         0.942054
4312  Dragon Ball GT: Goku Gaiden! Yuuki no Akashi w...         0.942054
4273               Dragon Ball Z: Atsumare! Gokuu World         0.942054
588                                     Dragon Ball Kai         0.942054
206                                       Dragon Ball Z         0.942054

In [16]:
# as a function
def recommend_me():
    anime=input('Masukan judul anime yang anda sukai, dipisah dengan tanda koma').split(', ')
    
    import pandas as pd
    import numpy as np
    from sklearn.feature_extraction.text import CountVectorizer
    
    #buat dataframe genre
    df_anime= pd.read_csv('anime.csv')
    df_anime=df_anime.loc[:,['anime_id','name','rating','genre']].dropna().reset_index(drop=True)
    cvr=CountVectorizer(tokenizer=lambda x:x.split(', '))
    df_genre=cvr.fit_transform(df_anime['genre'])
    df_genre=pd.DataFrame(df_genre.toarray(),columns=cvr.get_feature_names())
    df_genre=pd.concat([df_anime[['anime_id','name','rating']],df_genre],axis=1)
    
    #user feature vector
    df_liked=df_genre[df_genre['name'].isin(anime)]
    
    for i in cvr.get_feature_names():
        df_liked[i]= df_liked['rating']*df_liked[i]
    
    user_feature_vector=df_liked[cvr.get_feature_names()].sum()/df_liked[cvr.get_feature_names()].sum().sum()
    
    # predict score
    
    df_rec=df_genre[~df_genre['name'].isin(anime)].drop(columns='rating')
    
    for i in cvr.get_feature_names():
        df_rec[i]= df_rec[i]*user_feature_vector[i]
        
    df_rec['predicted_score']=df_rec.drop(columns=['anime_id']).sum(axis=1)
    
    return df_rec[['name','predicted_score']].sort_values('predicted_score', ascending=False).head(10)

In [17]:
recommend_me()

                                  name  predicted_score
0                       Kimi no Na wa.              0.0
8015                               Pop              0.0
8006  The Embryo Develops into a Fetus              0.0
8007  The Wash Bird of the Wash Island              0.0
8008                 Dead Girl Trailer              0.0
8009                    Born by Myself              0.0
8010                             Pinky              0.0
8011       Micro Teukgongdae Diatron 5              0.0
8012                G-senjou no Higeki              0.0
8013         CCW: Crazy Clay Wrestling              0.0

# Content Based Filtering for Multiple Users

In [18]:
df_item_feature=pd.DataFrame({
    'movies':['Terminator 2','Interstellar','Ant Man 2','3 Idiots'],
    'action':[1,0,1,0],
    'scifi':[1,1,1,0],
    'adventure':[0,1,1,0],
    'comedy':[0,0,1,1],
    'drama':[0,1,0,1]
})
df_item_feature

         movies  action  scifi  adventure  comedy  drama
0  Terminator 2       1      1          0       0      0
1  Interstellar       0      1          1       0      1
2     Ant Man 2       1      1          1       1      0
3      3 Idiots       0      0          0       1      1

In [19]:
df_user_item=pd.DataFrame({
    'user':['user 1','user 2','user 3','user 4'],
    'Terminator 2':[7,8,9,0],
    'Interstellar':[9,0,0,7],
    'Ant Man 2':[8,6,0,0],
    '3 Idiots':[9,5,10,9]
})
df_user_item

     user  Terminator 2  Interstellar  Ant Man 2  3 Idiots
0  user 1             7             9          8         9
1  user 2             8             0          6         5
2  user 3             9             0          0        10
3  user 4             0             7          0         9

untuk melakukan content based filtering multiple user, kita memerlukan 2 matrix: item-feature dan user-item

In [20]:
# hitung user feature matrix
user_item=np.array(df_user_item.drop(columns='user'))
# user_item
item_feature=np.array(df_item_feature.drop(columns='movies'))
# item_feature

n_user=user_item.shape[0]
n_item= user_item.shape[1]
n_feature=item_feature.shape[1]

user_feature=np.empty((n_user,n_feature))

for i in range(n_user):
#     print(user_item[i,:])
    user_feature_vector=np.matmul(user_item[i,:], item_feature)
#     print(user_feature_vector)
    user_feature_vector=user_feature_vector/user_feature_vector.sum()
    user_feature[i,:]= user_feature_vector

In [21]:
user_feature #user feature matrix

array([[0.16483516, 0.26373626, 0.18681319, 0.18681319, 0.1978022 ],
       [0.28      , 0.28      , 0.12      , 0.22      , 0.1       ],
       [0.23684211, 0.23684211, 0.        , 0.26315789, 0.26315789],
       [0.        , 0.17948718, 0.17948718, 0.23076923, 0.41025641]])

In [22]:
df_user_vector=pd.DataFrame(user_feature, index=df_user_item['user'], columns=df_item_feature.columns[1:])
df_user_vector

          action     scifi  adventure    comedy     drama
user
user 1  0.164835  0.263736   0.186813  0.186813  0.197802
user 2  0.280000  0.280000   0.120000  0.220000  0.100000
user 3  0.236842  0.236842   0.000000  0.263158  0.263158
user 4  0.000000  0.179487   0.179487  0.230769  0.410256

In [23]:
# prediksi score dari film yg belum pernah ditonton user
user_item_score=np.empty((n_user,n_item)) #array kosong
for i in range(n_user):
    score_=np.matmul(item_feature, user_feature[i,:])
    user_item_score[i,:]=score_

In [24]:
user_item_score

array([[0.42857143, 0.64835165, 0.8021978 , 0.38461538],
       [0.56      , 0.5       , 0.9       , 0.32      ],
       [0.47368421, 0.5       , 0.73684211, 0.52631579],
       [0.17948718, 0.76923077, 0.58974359, 0.64102564]])

In [25]:
user_item_score_unwatched=np.where(user_item==0, user_item_score,0)

In [26]:
pd.DataFrame(user_item_score_unwatched, columns=df_item_feature['movies'], index=df_user_item['user'])

movies  Terminator 2  Interstellar  Ant Man 2  3 Idiots
user
user 1      0.000000           0.0   0.000000       0.0
user 2      0.000000           0.5   0.000000       0.0
user 3      0.000000           0.5   0.736842       0.0
user 4      0.179487           0.0   0.589744       0.0

Dari prediksi di atas, kita bisa merekomendasikan:
* User 3: Ant Man 2, Interstellar
* User 4: Ant Man 2 (terminator 2 terlalu rendah prediksi scorenya)

In [27]:
# rekomendasi dari list film baru yang belum pernah ditonton semua user

In [28]:
df_item_feature_new=pd.DataFrame({
    'movies':['Titanic','Martian','GOTG Vol 2'],
    'action':[1,0,1],
    'scifi':[1,1,1],
    'adventure':[0,1,1],
    'comedy':[0,0,1],
    'drama':[0,1,0]
})

In [29]:
df_item_feature_new

       movies  action  scifi  adventure  comedy  drama
0     Titanic       1      1          0       0      0
1     Martian       0      1          1       0      1
2  GOTG Vol 2       1      1          1       1      0

In [30]:
item_feature_new= np.array(df_item_feature_new.drop(columns='movies'))
# item_feature_new
n_item_new= item_feature_new.shape[0]
# n_item_new
user_item_score_new=np.empty((n_user,n_item_new))

for i in range(n_user):
    user_item_score_=np.matmul(item_feature_new, user_feature[i,:])
    user_item_score_new[i,:]=user_item_score_

In [31]:
pd.DataFrame(user_item_score_new,columns=df_item_feature_new['movies'], index=df_user_item['user']).T

user          user 1  user 2    user 3    user 4
movies
Titanic     0.428571    0.56  0.473684  0.179487
Martian     0.648352    0.50  0.500000  0.769231
GOTG Vol 2  0.802198    0.90  0.736842  0.589744

Urutan rekomendasi:
* User 1: GOTG, Martian, Titanic
* User 2: GOTG, Titanic, Martian
* User 3: GOTG, Martian, Titanic
* User 4: Martian,GOTG, Titanic

In [32]:
# !pip install scikit-surprise

## With anime recommendation

In [33]:
df_anime= pd.read_csv('anime.csv')

In [34]:
df_anime=df_anime[['anime_id','name','genre']].dropna().reset_index(drop=True)
df_anime

,anime_id,name,genre
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural"
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili..."
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S..."
3,9253,Steins;Gate,"Sci-Fi, Thriller"
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S..."
...,...,...,...
12227,9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai
12228,5543,Under World,Hentai
12229,5621,Violence Gekiga David no Hoshi,Hentai
12230,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai
12231,26081,Yasuji no Pornorama: Yacchimae!!,Hentai

In [35]:
df_user_item=pd.DataFrame({
    'user':['user 1','user 2','user 3','user 4'],
    32281:[7,8,9,8],
    431:[9,8,9,7],
    1698:[8,8,8,7],
    4722:[9,7,10,8]
})
df_user_item

     user  32281  431  1698  4722
0  user 1      7    9     8     9
1  user 2      8    8     8     7
2  user 3      9    9     8    10
3  user 4      8    7     7     8

In [36]:
# Rekomendasikan masing2 10 anime untuk setiap user

# item feature --> anime id, genre
# user feature matrix
# score untuk anime yg belum ditonton
# sort dan filtering

In [37]:
cvr=CountVectorizer(tokenizer=lambda x:x.split(', '))
df_genre=cvr.fit_transform(df_anime['genre'])
df_genre=pd.DataFrame(df_genre.toarray(),columns=cvr.get_feature_names())
df_genre=pd.concat([df_anime[['anime_id','name']],df_genre],axis=1)
df_genre

,anime_id,name,action,adventure,cars,comedy,dementia,demons,drama,ecchi,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
0,32281,Kimi no Na wa.,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,5114,Fullmetal Alchemist: Brotherhood,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,28977,Gintama°,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9253,Steins;Gate,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,9969,Gintama&#039;,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12227,9316,Toushindai My Lover: Minami tai Mecha-Minami,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12228,5543,Under World,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12229,5621,Violence Gekiga David no Hoshi,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12230,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12231,26081,Yasuji no Pornorama: Yacchimae!!,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [50]:
df_item_feature=df_genre.loc[df_genre['anime_id'].isin(df_user_item.columns[1:])]
df_item_feature

,anime_id,name,action,adventure,cars,comedy,dementia,demons,drama,ecchi,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
0,32281,Kimi no Na wa.,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
35,431,Howl no Ugoku Shiro,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
123,1698,Nodame Cantabile,0,0,0,1,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
236,4722,Skip Beat!,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
user_item=np.array(df_user_item.drop(columns='user'))
item_feature=np.array(df_item_feature.drop(columns=['anime_id','name']))

n_user=user_item.shape[0]
n_item= user_item.shape[1]
n_feature=item_feature.shape[1]

user_feature=np.empty((n_user,n_feature))

for i in range(n_user):
    user_feature_vector=np.matmul(user_item[i,:], item_feature)
    user_feature_vector=user_feature_vector/user_feature_vector.sum()
    user_feature[i,:]= user_feature_vector

In [40]:
df_user_vector=pd.DataFrame(user_feature, index=df_user_item['user'], columns=df_item_feature.columns[2:])
df_user_vector

,action,adventure,cars,comedy,dementia,demons,drama,ecchi,fantasy,game,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
user,,,,,,,,,,,,,,,,,,,,,
user 1,0.0,0.060811,0.0,0.114865,0.0,0.0,0.222973,0.0,0.060811,0.0,...,0.0,0.054054,0.0,0.0,0.0,0.047297,0.0,0.0,0.0,0.0
user 2,0.0,0.057143,0.0,0.107143,0.0,0.0,0.221429,0.0,0.057143,0.0,...,0.0,0.057143,0.0,0.0,0.0,0.057143,0.0,0.0,0.0,0.0
user 3,0.0,0.056250,0.0,0.112500,0.0,0.0,0.225000,0.0,0.056250,0.0,...,0.0,0.050000,0.0,0.0,0.0,0.056250,0.0,0.0,0.0,0.0
user 4,0.0,0.052239,0.0,0.111940,0.0,0.0,0.223881,0.0,0.052239,0.0,...,0.0,0.052239,0.0,0.0,0.0,0.059701,0.0,0.0,0.0,0.0

In [41]:
df_item_feature_new=df_genre.loc[~df_genre['anime_id'].isin(df_user_item.columns[1:])]
df_item_feature_new

,anime_id,name,action,adventure,cars,comedy,dementia,demons,drama,ecchi,...,shounen ai,slice of life,space,sports,super power,supernatural,thriller,vampire,yaoi,yuri
1,5114,Fullmetal Alchemist: Brotherhood,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,28977,Gintama°,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9253,Steins;Gate,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,9969,Gintama&#039;,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,0,0,0,1,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12227,9316,Toushindai My Lover: Minami tai Mecha-Minami,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12228,5543,Under World,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12229,5621,Violence Gekiga David no Hoshi,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12230,6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12231,26081,Yasuji no Pornorama: Yacchimae!!,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
item_feature_new= np.array(df_item_feature_new.drop(columns=['anime_id','name']))
# item_feature_new
n_item_new= item_feature_new.shape[0]
# n_item_new
user_item_score_new=np.empty((n_user,n_item_new))

for i in range(n_user):
    user_item_score_=np.matmul(item_feature_new, user_feature[i,:])
    user_item_score_new[i,:]=user_item_score_

In [43]:
df_score=pd.DataFrame(user_item_score_new).T

In [44]:
df_score.columns=df_user_item['user']

In [45]:
df_score=pd.concat([df_item_feature_new[['anime_id','name']].reset_index(drop=True),df_score],axis=1)
df_score.head()

,anime_id,name,user 1,user 2,user 3,user 4
0,5114,Fullmetal Alchemist: Brotherhood,0.344595,0.335714,0.33750,0.328358
1,28977,Gintama°,0.114865,0.107143,0.11250,0.111940
2,9253,Steins;Gate,0.000000,0.000000,0.00000,0.000000
3,9969,Gintama&#039;,0.114865,0.107143,0.11250,0.111940
4,32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,0.385135,0.385714,0.39375,0.395522

In [46]:
#user 1
df_score[['anime_id','name', 'user 1']].sort_values('user 1', ascending=False).head(10)

      anime_id                                               name    user 1
318        232                                  Cardcaptor Sakura  0.790541
1689      1744                      Wagamama☆Fairy Mirumo de Pon!  0.790541
1466       435                              Magic Knight Rayearth  0.743243
1957     13931  Bishoujo Senshi Sailor Moon: Sailor Stars - He...  0.743243
5122      2535                Angelique: Seichi yori Ai wo Komete  0.743243
921        997  Bishoujo Senshi Sailor Moon S: Kaguya Hime no ...  0.743243
2290      3298                                     Hatenkou Yuugi  0.743243
3293      1578  Koisuru Tenshi Angelique: Kokoro no Mezameru Toki  0.743243
530        996          Bishoujo Senshi Sailor Moon: Sailor Stars  0.743243
1491       142                             Kamikaze Kaitou Jeanne  0.743243

In [47]:
#user 2
df_score[['anime_id','name', 'user 2']].sort_values('user 2', ascending=False).head(10)

      anime_id                                               name    user 2
1689      1744                      Wagamama☆Fairy Mirumo de Pon!  0.771429
318        232                                  Cardcaptor Sakura  0.771429
688        451                       InuYasha: Tenka Hadou no Ken  0.721429
514      11887                                     Kokoro Connect  0.721429
177      18195                           Little Busters!: Refrain  0.721429
609      20517                                Little Busters!: EX  0.721429
316      16001                       Kokoro Connect: Michi Random  0.721429
220       2167                                            Clannad  0.721429
3278      6489  Zero no Tsukaima: Princesses no Rondo Picture ...  0.721429
81         877                                               Nana  0.714286

In [48]:
#user 3
df_score[['anime_id','name', 'user 3']].sort_values('user 3', ascending=False).head(10)

      anime_id                                               name   user 3
318        232                                  Cardcaptor Sakura  0.79375
1689      1744                      Wagamama☆Fairy Mirumo de Pon!  0.79375
1992       104                                    Ayashi no Ceres  0.73750
3293      1578  Koisuru Tenshi Angelique: Kokoro no Mezameru Toki  0.73750
5122      2535                Angelique: Seichi yori Ai wo Komete  0.73750
5455     10028                        Magic Knight Rayearth Omake  0.73750
1491       142                             Kamikaze Kaitou Jeanne  0.73750
908        123                                      Fushigi Yuugi  0.73750
921        997  Bishoujo Senshi Sailor Moon S: Kaguya Hime no ...  0.73750
530        996          Bishoujo Senshi Sailor Moon: Sailor Stars  0.73750

In [49]:
#user 4
df_score[['anime_id','name', 'user 4']].sort_values('user 4', ascending=False).head(10)

      anime_id                           name    user 4
1689      1744  Wagamama☆Fairy Mirumo de Pon!  0.783582
318        232              Cardcaptor Sakura  0.783582
3494      1804             Koko wa Green Wood  0.731343
1081      1579   Kiniro no Corda: Primo Passo  0.731343
430        122         Full Moon wo Sagashite  0.731343
1992       104                Ayashi no Ceres  0.731343
681      21995                   Ao Haru Ride  0.731343
177      18195       Little Busters!: Refrain  0.731343
514      11887                 Kokoro Connect  0.731343
1135       145        Kareshi Kanojo no Jijou  0.731343